.wrap {
  margin: 60px 15px;

  h1 {
    font-size: 20px;
  }
  .fw-n {
    font-weight: normal;
  }
  .top {
    text-align: left;
    margin-bottom: 30px;
  }
  .div {
    margin: 30px 0;

    p {
      a {
        text-decoration: underline;
      }
    }
    .m-15 {
      display: inline-block;
      font-weight: bold;
      margin: 20px 0;
    }
    .bold {
      font-weight: bold;
    }
  }
}